<template>
    <div>
        <ol class="quess">
            <li 
                style="width: 100%"
                v-for="question in questions" 
                :key="question.question_id">
                <a 
                    class="ques-body" 
                    :href="question.link"  
                    target="_blank" 
                    rel="noopener noreferrer">
                    <ques-item
                        :title="question.title"
                        :score="question.score"
                        :answer="question.answer_count"
                        :is_answered="question.is_answered"
                        :view="question.view_count"></ques-item>
                    <user
                        :image="question.owner.profile_image"
                        :name="question.owner.display_name"></user>
                </a>
            </li>
        </ol>
    </div>
</template>

<script>
import QuesItem from './quesItem.vue';
import User from './quesUser.vue';

export default {
    components: {
        'ques-item': QuesItem,
        'user': User
    },
    computed: {
        questions() {            
            return this.$store.state.questions;
        }
    }
}
</script>

<style scoped>
.quess {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin: 0;
    padding: 0;
}
.ques-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: gray 1px solid;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black
}
</style>