<template>
    <div class="user">
        <img 
            :src="image" 
            width="60"
            alt="profile image"
            loading="lazy">
        <div class="name">{{ name }}</div>
    </div>
</template>

<script>
export default {
    props: ['image', 'name']
}
</script>

<style scoped>
.user {    
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.name {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

img {    
	border-radius: 50%;
}
</style>