<template>
    <div class="ques">        
        <div class="ques-top">{{ title }}</div>
        <div class="ques-bottom">
            <div class="info">
                <div style="color: darkred">Score</div>
                <div :style="scoreColor">{{ score }}</div>
            </div>
            <div class="info">
                <div style="color: darkred">Answers</div>
                <div class="answer-size" :class="answerStyle">{{ answer }}</div>
            </div>
            <div class="info">
                <div style="color: darkred">Viewed</div>
                <div>{{ view }}</div>
            </div>
        </div>
    </div>
</template>

<script>
function scoreColor() {
    return (this.score < 0)? { color: 'red' } : { color: 'black' };
}

function answerStyle() {
    return {
        'useless_answer': this.answer > 0 && !this.is_answered,
        'have_answer': this.is_answered
    };
}

export default {
    props: ['title', 'score', 'answer', 'is_answered', 'view'],
    computed: {
        scoreColor,
        answerStyle
    }
}
</script>

<style scoped>
.ques {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ques-top {
    position: static;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
}

.ques-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.answer-size {
    display: flex;
    justify-content: center;
    width: 3.5em;
}

.useless_answer {
    border: green 2px solid;
    color: green;
}

.have_answer {
    background-color: green;
    color: white;
}
</style>