<template>
    <div class="tagbar">     
        <el-radio-group 
            v-model="radio"
            size="mini" >
            <el-radio-button 
                class="tag"
                v-for="t in tags" 
                :key="t.name"
                :label="t.name"></el-radio-button>
        </el-radio-group>
    </div>
</template>

<script>
export default {
    computed: {
        tags() {
            return this.$store.state.tags;
        },
        radio: {
            get() {
                return this.$store.state.target;
            },
            set(value) {
                this.$emit('tag-changed', value);
            }
        }
    }
}
</script>

<style scoped>
.tagbar {
    width: 700px;
    display: flex;
    flex-direction: row;
}

.tag {
    margin: 5px;
}
</style>