【<template>
  <div id="app">
    <div class="app-body">
      <el-input 
        placeholder="Tag" 
        v-model="keyword"
        @input="search"
      >
        <template slot="append">Search</template>       
      </el-input> 
      <div class="app-filter">Trending</div>
      <TagBar @tag-changed="changeTag" :class="{ fixed: active }"/>
      <Ques />
      <Spinner
        :animation-duration="4000"
        :size="50"
        color="#ff1d5e"
        v-if="isloading"
        style="margin-top: 50px"
      />
    </div>
  </div>
</template>

<script>
import TagBar from './components/tagBar.vue';
import Questions from './components/questions.vue';
import { FulfillingBouncingCircleSpinner } from 'epic-spinners';

const baseURL = 'https://api.stackexchange.com/2.2/';

async function getTags(input) {
  const url = new URL(baseURL+'tags');
  const tagParameters = new URLSearchParams({
    page: 1,
    pagesize: 10,
    order: 'desc',
    sort: 'popular',
    inname: input,
    site: 'stackoverflow'
  });

  url.search = tagParameters;

  return await fetch(url, {
    method: 'GET',
  }).then((response) => {
    return response.json(); 
  }).then((jsonData) => {
    return jsonData.items;
  }).catch((err) => {
    console.error('error:', err);
  });
}

function convertTag(tagged) {  
  if(tagged == 'c#') return tagged = 'c%23';
  return tagged;
}

function getQuestions(page, tagged) {
  const url = new URL(baseURL+'questions');
  const questionParameters = new URLSearchParams({
    page: page,
    pagesize: 20,
    order: 'desc',
    sort: 'activity',
    tagged: convertTag(tagged),
    site: 'stackoverflow'
  });

  url.search = questionParameters;

  return fetch(url, {
    method: 'GET',
  }).then((response) => {
    return response.json(); 
  }).then((jsonData) => {
    return jsonData.items;
  }).catch((err) => {
    console.err('error:', err);
  });
}

function search() {
  // stop repeat searching during lazy searching
  if(!this.isSearching){
    this.isSearching = true;

    setTimeout(async () => {  
      this.isloading = true;
      
      this.$store.commit('restartPage');
      await this.$store.commit('setTags', await getTags(this.keyword));
        
      if(this.$store.state.tags.length != 0) {        
        await this.$store.commit('setTarget', this.tags[0].name);
        await this.$store.commit('setQuestions', await getQuestions(this.page, this.target));
      }
      else {
        await this.$store.commit('setTarget', '');
        await this.$store.commit('setQuestions', []);
      }
      this.isloading = false;
      this.isSearching = false;
    }, 300);
  }
}

async function changeTag(value) {
  this.isloading = true;  
  await this.$store.commit('setTarget', value);
  await this.$store.commit('restartPage');
  this.$store.commit('setQuestions', []);
  await this.$store.commit('setQuestions', await getQuestions(this.page, this.target));
  this.isloading = false;
}

function handleScroll() {  
  this.active = window.scrollY > 120 ? true : false;
}

async function loadQuestion() {
  if (window.scrollY + window.screen.height >= document.body.scrollHeight && !this.isloading) {
    this.isloading = true;
    this.$store.commit('nextPage');

    let newQuestions = await getQuestions(this.page, this.target);
    let allQuestions = this.questions.concat(newQuestions);
    this.$store.commit('setQuestions', allQuestions);

    this.isloading = false;
  }
}

export default {
  name: 'App',
  components: {
    'TagBar': TagBar,
    'Ques': Questions,
    'Spinner': FulfillingBouncingCircleSpinner,
  },
  data() {
    return {
      keyword: '',
      active: false,
      isloading: false,
      isSearching: false
    }
  },
  methods: {
    search,
    changeTag,
    handleScroll,
    loadQuestion
  },
  mounted: async function() {
    this.isloading = true;
    await this.$store.commit('setTags', await getTags(''));
    await this.$store.commit('setQuestions', await getQuestions(this.page, this.target));
    await this.$store.commit('setTarget', this.tags[0].name);
    this.isloading = false;
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
    window.addEventListener("scroll", this.loadQuestion);
  },
  computed: {
    tags() {
      return this.$store.state.tags;
    },
    questions() {
      return this.$store.state.questions;
    },
    page() {
      return this.$store.state.page;
    },
    target() {
      return this.$store.state.target;
    }
  }
}
</script>

<style>
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing:border-box;
  background-image: url('./imgs/meloopcard.png');
  background-color: white;
  background-attachment: fixed;
  background-size: auto 100%;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  margin-top: 30px;
  background-color: white;
}

.app-filter {
  width: 95%;
  padding-top: 10px;
  padding-bottom: 5px;
  font: 1.3em sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

li {
  list-style: none
}

.fixed {
  position: fixed;
  background-color: white;
  padding: 10px;
  border-bottom: gray 2px solid;
  
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

</style>
